<mat-toolbar style="background-color: #c2185b; color: white;" class="expanded-toolbar">
  <img style="height: 3rem; width: 3rem; border-radius: 100%; margin-right: 2rem;" src="../../../assets/fondo.png" alt="">
    Iniciar Sesión
</mat-toolbar>
<div class="contenedor " >
  <mat-card class="container ld ld-blur-in" >
    <div class="imgcontainer">
      <img src="../../../assets/login.png" alt="Avatar" class="avatar" max-width="104" >
    </div>
    <div mat-card-avatar class="example-header-image"></div>
    <form class="example-form">
      <mat-form-field style="width: 100%;" class="full-width-input">
        <mat-label style="color: #c2185b;">Seleccione un Usuario</mat-label>
      <mat-select>

      <mat-option (click)="onChange(usuario.id)" *ngFor="let usuario of usuarios"value="{{usuario.id}}"> {{usuario.nombre}}</mat-option>
      
    </mat-select>
 </mat-form-field>

      <mat-form-field style="width: 100%;" class="full-width-input">
        <mat-label  style="color: #c2185b;" >Email</mat-label>
        <input  style="color: black;" matInput type="email" [(ngModel)]="email" name="email">
      </mat-form-field>
     
      <mat-form-field style="width: 100%;"  class="full-width-input">
        <mat-label  style="color: #c2185b;">Contraseña</mat-label>
        <input style="color: black;" matInput type="password" [(ngModel)]="clave" name="psw">
      </mat-form-field>
   
      <div  class="recaptcha">
        <re-captcha  (resolved)="resolved($event)" siteKey="6Lfc9twZAAAAAAjwYSzByar-hPR8o8rzi9mXE_FI"></re-captcha>
      </div>
      <!-- <div class="recaptcha">
        <ngx-recaptcha2 #captchaElem [siteKey]="siteKey">
        </ngx-recaptcha2>
      </div> -->

      <br>
      <button  style="margin-top: 2rem;" class="btn btn-block"   mat-raised-button color="primary"  (click)="EntrarSinCaptcha()">Habilitar/Desabilitar</button>

      <button [disabled]="!recaptcha" style="margin-top: 2rem;" class="btn btn-block"   mat-raised-button color="primary"  (click)="Entrar()">Ingresar</button>
    
    </form>
  
  
    <br>
    <!-- <mat-divider></mat-divider> -->
    <br>
    <h3>¿No tenés usuario? <a href="/registro">Registrate</a></h3>
  </mat-card>

</div>
